
.details-table {
  margin: 1em;
  // min-height: 100%;
  // display: grid;
  // margin-right: 1em;
  box-sizing: border-box;
  overflow-x:scroll;
  margin: 0;
  // max-width: 100%;
  padding:1rem;
}
.main-container{
  // min-height: 0;
  padding: 1em;
  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

// @media only screen and (max-width:768px)  {
//   .details-table{
//     // background-color: red;
//     // padding:1rem;
//     max-width:100%;
//   }
// }
// table{
//   box-sizing: border-box;
//   margin: 0;
//   overflow-x:scroll;
//   // width: 100vw;
// }